{{#if addNewAnswer}}
<h2>New Answer</h2>
  <div>
    <form>
      <div>
        <label for="answer">Answer</label>
        {{input class="form-control" value=answer id="answer"}}
      </div><br>
      <div>
        <label for="author">Author</label>
        {{input  class="form-control" value=author id="author"}}
      </div><br>
      <button class="btn btn-info" {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <br><button class="btn btn-primary" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
