{{question.question}} - by {{question.author}}.
<br>
<p>Click to see notes: {{question.notes}} {{action 'notesHide'}}</p>

<h3> Answers </h3>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button class="btn btn-warning" {{action 'delete' question}}>Delete Question</button>
