<li>
  {{link-to 'question' question.id}}{{question.question}} by {{question.author}} from the {{question.notes}} {{/link-to}}
  {{#if isAnswerShowing}}
    <p>{{question.answers}} {{action 'answerHide'}}</p>
  {{else}}
    <br><button {{action 'answerShow'}}>Show all answers</button>
  {{/if}}
</li><br>
