<h3>{{question.question}} - by {{question.author}}.</h3>
<p>{{question.notes}}</p>
<!-- <p>Click to see notes: {{question.notes}} {{action 'notesHide'}}</p> -->

<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
  {{/each}}
</ul>

<button class="btn btn-warning" {{action 'delete' question}}>Delete Question</button>
