<h3>{{question.question}} - by {{question.author}}.</h3>
<h4>{{question.notes}}</h4>
<!-- <p>Click to see notes: {{question.notes}} {{action 'notesHide'}}</p> -->

<br><h2> Answers: </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer deleteAnswer="deleteAnswer"}}
  {{/each}}
</ul>

<br><br><button class="btn btn-warning" {{action 'delete' question}}>Delete Question</button>
