<li>
  {{#link-to 'question' question.id}}
    <p>{{question.question}} - by {{question.author}}</p>

  {{#if isNotesShowing}}
    <p>{{question.notes}} {{action 'notesHide'}}</p>
  {{else}}
    <br>
    <button {{action 'notesShow'}}>Show additional notes</button>
  {{/if}}
  {{/link-to}}
</li><br>
