  {{question.question}} by {{question.author}} from the {{question.notes}} language.
  <br>
  <p>{{question.answers}} {{action 'answerHide'}}</p>

  <button {{action 'delete' question}}>Delete Question</button>
