{{#if updateQuestionForm}}
  <h4>Update Question Details:</h4>
  <div>
    <form>
      <div>
        <label for="question">Question:</label>
        {{input class="form-control" value=question id="question" placeholder=question.question}}
      </div>

      <div>
        <label for="author">Author:</label>
        {{input class="form-control" value=author id="author" placeholder=question.author}}
      </div><br>

      <div>
        <label for="notes">Additional notes:</label>
        {{input class="form-control" value=notes id="notes" placeholder=question.notes}}
      </div><br>

      <button class="btn btn-info" {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <br><button class="btn btn-primary" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
